@tailwind base;
@tailwind components;
@tailwind utilities;
  
@font-face {
    font-family: "souvenir";
    src: url("../public/assets/Souvenir.ttf");
}

@font-face {
    font-family: "avenir";
    src: url("../public/assets/Metropolis-Medium.otf");
}

html, body {
  margin: 0;
  font-family: 'avenir', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #F7F4F2;
  color: #272728;
}

input {
  all: unset;
}

/* Page Heros */

.hero {
  background-image: url('../src/images/home_heroimage\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.attractions-hero {
  background-image: url('../src/images/page-heros/attractions_topimage\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
}

.reviews-hero {
  background-image: url('../src/images/page-heros/reviews_topimage\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-hero {
  background-image: url('../src/images/page-heros/about_topimage\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-hero {
  background-image: url('../src/images/page-heros/contactus_topimage\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page Footers */

.home-footer {
  background-image: url('../src/images/img_home_bookredpoint\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.attractions-footer {
  background-image: url('../src/images/img_attractions_bookredpoint\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
}

.reviews-footer {
  background-image: url('../src/images/img_reviews_bookredpoint\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-footer {
  background-image: url('../src/images/img_about_bookredpoint\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-footer {
  background-image: url('../src/images/img_contactus_bookredpoint\ 1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.pagination-container {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  min-width: 32px;

  &.dots:hover {
    background-color: transparent;
    cursor: default;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
  }

  &.selected {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .arrow {
    &::before {
      position: relative;
      /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
      content: '';
      /* By using an em scale, the arrows will size with the font */
      display: inline-block;
      width: 0.4em;
      height: 0.4em;
      border-right: 0.12em solid rgba(0, 0, 0, 0.87);
      border-top: 0.12em solid rgba(0, 0, 0, 0.87);
    }

    &.left {
      transform: rotate(-135deg) translate(-50%);
    }

    &.right {
      transform: rotate(45deg);
    }
  }

  &.disabled {
    pointer-events: none;

    .arrow::before {
      border-right: 0.12em solid rgba(0, 0, 0, 0.43);
      border-top: 0.12em solid rgba(0, 0, 0, 0.43);
    }

    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 13px !important;
  height: 13px !important;
  padding: 0;
  margin-right: 12px !important;
  margin-left: 6px !important;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 100%;
}