@tailwind base;
@tailwind components;
@tailwind utilities;
  
@font-face {
    font-family: "souvenir";
    src: url("../public/assets/Souvenir.ttf");
}

@font-face {
    font-family: "avenir";
    src: url("../public/assets/Metropolis-Medium.otf");
}

html, body {
  margin: 0;
  font-family: 'avenir', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #F7F4F2;
  color: #272728;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
